.banner__wrapper {
  margin: 40px 0 40px;
  max-width: 1200px;
  width: 100%;
}

.banner__item {
  background: no-repeat url('../../images/Layer11.png') center / cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  width: 100%;
  height: 450px;
}

.banner__description {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.banner__title {
  font-size: 48px;
  line-height: 30px;
  color: var(--white);
  font-weight: 400;
  text-align: center;
  padding-bottom: 15px;
}

.banner__info__description {
  max-width: 606px;
  font-size: 20px;
  line-height: 36px;
  color: var(--white);
  font-weight: 400;
}

.banner__info__wrapper {
  max-width: 1200px;
  width: 100%;
  position: relative;
}

.banner__info__container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 40px;
}

.banner__img__label {
  width: 75px;
  height: 41px;
  margin: 0;
}

.banner__author {
  margin-left: 20px;
}

.banner__user-info {
  display: flex;
  margin-right: 55px;
}
